.button_small-square {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fff;

    outline: none;
}

.button_small-square:hover {
    cursor: pointer;
}

.button_small-square:active {
    outline: none;
}

.button_small-square::-moz-focus-inner {
    border: 0;
}