.footer__links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

@media (max-width: 375px) {
    .footer__links {
        height: 74px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
}