{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allowAfterThis": true, "allow": ["_id"] }],
    "no-console": "off",
    "class-methods-use-this": ["error", { "exceptMethods": ["_makeContentForDOM"] }]
  },
  "env": {
    "browser": true
  }
}
