.card__date {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 24px;
    font-family: 'SourceSansPro', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.33;
    color: #b6bcbf;
}

@media (max-width: 768px) {
    .card__date {
        margin-top: 16px;
        margin-left: 16px;
    }  
}