.search__title {
    font-family: 'RobotoSlab', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 1.1;
    color: #fff;
    margin: 80px auto 0px;
    padding: 0;
    max-width: 608px;
}

@media (max-width: 768px) {
    .search__title {
        font-size: 36px;
        margin-top: 38px;
        margin-left: calc(100vw * .22);
        max-width: 385px;
    }   
}

@media (max-width: 640px) {
    .search__title {
        margin: 30px 19px 0;
    }   
}