.author__picture {
    object-fit: cover;
    height: 464px;
    width: 464px;
    border-radius: 1000px;
}

@media (max-width: 1024px) {
    .author__picture {
        width: 320px;
        height: 320px;
    }
}

@media (max-width: 768px) {
    .author__picture {
        height: 232px;
        width: 232px;
        margin-top: 10px;
    }
}

@media (max-width: 510px) {
    .author__picture {
        margin: 0 auto;
        max-width: 272px;
        width: 100%;
        max-height: 272px;
        height: 100%;
    }
}