.search__container {
    max-width: 610px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    align-items: flex-start;
}

@media (max-width: 1024px) {
    .search__container {
        width: calc(100% - 128px);
    }
}

@media (max-width: 768px) {
    .search__container {
        width: calc(100% - 80px);
    }
}

@media (max-width: 640px) {
    .search__container {
        width: calc(100% - 32px);
    }
}