@import url(./_displayed/popup__error_displayed.css);

.popup__error {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: red;

    position: fixed;
    margin-top: -28px;
    margin-bottom: 13px;

    /* display: none; */
}