@import url('./_black/button__logout-img_black.css');

.button__logout-img {
  fill: #fff;
}

@media (max-width: 640px) {
  .button__logout-img {
    fill: #fff;
  }
}

.header__button._black .button__logout-img {
  fill: #1a1b22;
}

@media (max-width: 640px) {
  .header__button._black .button__logout-img {
    fill: #fff;
  }
}
