@import url('./__title/search__title.css');
@import url('./__text/search__text.css');
@import url('./__form/search__form.css');
@import url(./__container/search__container.css);

.search:before {
    content: '';
    z-index:-1;
    height: 700px;
    width: 100%;
    background: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.png) no-repeat center;
    top: -80px;
    left: 0;
    position: absolute;
    background-size: cover;
}

@media (max-width: 768px) {
    .search:before {
        top: -65px;
        height: 485px;
    }
}

@media (max-width: 640px) {
    .search:before {
        top: -59px;
        height: 430px;
    }
}

@media (max-width: 425px) {
    .search:before {
        top: -52px;
        height: 600px;
    }
}