.profile__title {
    font-family: 'RobotoSlab', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 1.15;

    margin-top: 28px;
    margin-bottom: 0;
    max-width: 530px;
}

@media (max-width:768px) {
    .profile__title {
        max-width: 336px;
        font-size: 30px;
        margin-top: 16px;
    }
}