.form__button {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #2f71e5;
    height: 64px;
    width: 168px;
    color: white;
}

.form__button:hover {
    background: #347eff;
}

.form__button:active {
    background: #2a65cc;
}

@media (max-width: 768px) {
    .form__button {
        width: 160px;
        height: 56px;
    }
}

@media (max-width: 425px) {
    .form__button {
        position: relative;
        width: 100%;
        margin-top: 16px;
    }
}