.search__text {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.33;
    color: #fff;

    margin: 32px auto 0px;
    padding: 0;
    max-width: 608px;
}

@media (max-width: 768px) {
    .search__text {
        margin-top: 16px;
        margin-left: calc(100vw * .22);
        max-width: 452px;
        width: calc(100vw * .58);
    }   
}

@media (max-width: 640px) {
    .search__text {
        margin: 16px 16px 0;
        width: inherit;
    }   
}