.card__text {
    margin: 16px 24px 10px;
    max-width: 352px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.37;

    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

@media (max-width: 768px) {
    .card__text {
        margin-top: 10px;
        margin-left: 16px;
        margin-right: 16px;

        -webkit-line-clamp: 4;
    }   
}

@media (max-width: 400px) {
    .card__text {
        -webkit-line-clamp: 3;
    }
}